html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
}

.container {
    width: 360px;
}

#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid white;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    background-color: black;
    color: white;
}

#add {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    vertical-align: middle;
    font-size: 30px;
}

.p-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.p-container {
    margin-top: 25px;
}